#SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON;
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "mck_i" SITE "P5";
IOBUF PORT "mck_i" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "mck_i" 25 MHZ;


LOCATE COMP "lrck_i" SITE "P2";
IOBUF PORT "lrck_i" IO_TYPE=LVCMOS33;
LOCATE COMP "bck_i" SITE "R2";
IOBUF PORT "bck_i" IO_TYPE=LVCMOS33; 
LOCATE COMP "data_i" SITE "N6";
IOBUF PORT "data_i" IO_TYPE=LVCMOS33;

LOCATE COMP "rst_i" SITE "R7";
IOBUF PORT "rst_i" IO_TYPE=LVCMOS33;

#LOCATE COMP "data_o" SITE "M3";
#IOBUF PORT "data_o" IO_TYPE=LVCMOS33 DRIVE=16;
#LOCATE COMP "lrck_o" SITE "P3";
#IOBUF PORT "lrck_o" IO_TYPE=LVCMOS33 DRIVE=16;
#LOCATE COMP "bck_o" SITE "N5";
#IOBUF PORT "bck_o" IO_TYPE=LVCMOS33 DRIVE=16;

#j7
LOCATE COMP "le2_o" SITE "G16";
IOBUF PORT "le2_o" IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE COMP "sdo2_o" SITE "G15";
IOBUF PORT "sdo2_o" IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE COMP "bck2_o" SITE "F15";
IOBUF PORT "bck2_o" IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;

#j8
LOCATE COMP "le3_o" SITE "D16";
IOBUF PORT "le3_o" IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE COMP "sdo3_o" SITE "C16";
IOBUF PORT "sdo3_o" IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
LOCATE COMP "bck3_o" SITE "B16";
IOBUF PORT "bck3_o" IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;